.wp-caption {
	position: relative;
}
.wp-caption:hover .wp-caption-text {
	opacity: 1
}

.wp-caption-text {
	position: absolute;
	opacity: 0;
	top: 0;
	padding: 25px;
	background-color: rgba(204, 204, 204, .6);
	width: 100%;
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
}
 